<nav class="bg-white flex justify-between items-center p-4">
    <a href="{{ url }}"
        class="text-2xl font-bold text-indigo-500 underline underline-offset-4 decoration-2 decoration-pink-400">Nixive</a>
    <div class="flex items-center">
        <a href="#" class="mr-3 py-1">Link</a>
        <a href="#" class="mr-3 py-1">Link</a>
        <a href="#" class="mr-3 py-1">Link</a>
        <input type="search" class="border px-4 py-1 rounded w-64" placeholder="Search for wallpapers">
    </div>
</nav>